  <li class="card__body">
    <%= link_to order.menu.name, '#', class: :card__title %>
    <p class="card__summary">
      <%= order.menu.price %>円
      <%= form_with(url: table_update_menu_path(params[:table_id]), method: :post, local: :true) do |f| %>
      <%= f.hidden_field :menu_id, value: order.menu.id %>
      <%= f.number_field :quantity, value: order.quantity %>
      <%= f.submit "更新" %>
      <% end %>
      <%= button_to "削除", table_delete_menu_path(table_id: params[:table_id], menu_id: order.menu.id), method: :delete, deta: {confirm:"削除しますか？"} %>
    </p>
  </li>