<main class="main">
  <h2>テーブル一覧</h2>
  <div class="card__wrapper">    
      <%= render partial: "table", collection: @tables %>
  </div>
  <div>
    <%= link_to "テーブル作成", new_table_path %>
  </div>
  <div>
    <%= link_to "客層・性別", customer_infos_path %>
  </div>
  <div>
    <%= link_to "売上", totallings_path %>
  </div>
  <div>
    <%= link_to "オーダー一覧", menu_orders_path %>
  </div>
  <div>
    <%= link_to "メニュー作成", new_menu_path %>
  </div>
</main>