<main class="main">
    <div class="card__wrapper">
      <% menu_order = MenuOrder.where(order_id: @table.order_confirms.map(&:order_id)) %>
      <% total = menu_order.inject(0){ |sum, item| sum + item.sum_of_price } %>
      <% menu_order.each do |menu| %>
        <%= menu.menu.name %>×<%= menu.quantity %>個
      <% end %>
    </div>
    <div>
      合計<%= total %>円
    </div>
    <div>
      <%= link_to "メニュー画面へ", table_menus_path(@table.id) %>
    </div>
    <% if user_signed_in? %>
      <%= link_to "テーブル削除", table_path(@table.id), method: :delete %>
      <%= link_to "テーブル一覧へ", tables_path %>
      <%= link_to "アンケート", new_table_customer_info_path(@table.id) %>
    <% end %>
    <div>
      <!--<%= button_to '店員をよぶ or お会計', {controller: 'tables', action: 'calling' }, method: :get %>-->
    </div>
</main>